## Loading data

In [2]:
import pandas as pd
import os
import pathlib

### Sweep 1

#### cm_interview

In [4]:
# relative path to data_raw
notebook_dir = pathlib.Path().resolve()

In [ ]:
raw_data_path_interview_1 = os.path.join(notebook_dir,'../raw_data/sweep_1/UKDA-4683-tab/tab/mcs1_cm_interview.tab')
data_i1 = pd.read_csv(raw_data_path_interview_1, sep='\t')

In [29]:
display(data_i1.shape)
data_i1.head()

(18786, 4)

     MCSID  ACNUM00 ACMCBCODE_22 ACFCBCODE_22
0  M10001N        1           XW
1  M10002P        1
2  M10007U        1           XW
3  M10008V        1           XE
4  M10008V        2           XE

### family_interview

In [30]:
raw_data_path_family_1 = os.path.join(notebook_dir,'../raw_data/sweep_1/UKDA-4683-tab/tab/mcs1_family_interview.tab')
data_f1 = pd.read_csv(raw_data_path_family_1, sep='\t')

In [31]:
display(data_f1.shape)
data_f1.head()

(18539, 23)

,MCSID,AHISEX00,AHREPR00,AHNOHH00,AHCNHH00,AHPNPX00,AHRESB00,AHLANG00,AHOLAM0A,AHOLAM0B,...,AHNIOM0B,AHNIOM0C,AHWELSA0,AHWELSB0,AHGAELA0,AHGAELB0,AHIRISA0,AHIRISB0,AHULSTA0,AHULSTB0
0,M10001N,1,3,7,6,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,M10002P,2,3,4,3,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,M10007U,2,3,3,2,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,M10008V,1,3,5,3,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,M10011Q,2,3,4,3,-1,-1,2,3,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

### hhgrid

In [6]:
raw_data_path_hhgrid1 = os.path.join(notebook_dir,'../raw_data/sweep_1/UKDA-4683-tab/tab/mcs1_hhgrid.tab')
data_hhgrid1 = pd.read_csv(raw_data_path_hhgrid1, sep='\t',low_memory=False)

In [8]:
display(data_hhgrid1.shape)
data_hhgrid1.head()

(74791, 33)

,MCSID,APNUM00,AELIG00,ARESP00,ACNUM00,AHINTM00,AHINTY00,AHCSEX00,AHCDBM00,AHCDBY00,...,AHPRELF0,AHPRELG0,AHPRELH0,AHPRELI0,AHPRELJ0,AHPRELK0,AHPJOB00,AHPTPC00,AHAWAY00,AHINCA00
0,M10001N,1,1,1,0,1,2002,-1,-1,-1,...,7,-1,-1,-1,-1,-1,2,1,-1,-1
1,M10001N,2,2,2,0,1,2002,-1,-1,-1,...,7,-1,-1,-1,-1,-1,1,1,2,1
2,M10001N,3,4,4,0,1,2002,-1,-1,-1,...,11,-1,-1,-1,-1,-1,-1,1,-1,-1
3,M10001N,4,4,4,0,1,2002,-1,-1,-1,...,11,-1,-1,-1,-1,-1,-1,1,-1,-1
4,M10001N,5,4,4,0,1,2002,-1,-1,-1,...,11,-1,-1,-1,-1,-1,-1,1,-1,-1

### parent_cm_interview

In [34]:
raw_data_path_parent_cm_interview1 = os.path.join(notebook_dir,'../raw_data/sweep_1/UKDA-4683-tab/tab/mcs1_parent_cm_interview.tab')
data_parent_cm_interview1 = pd.read_csv(raw_data_path_parent_cm_interview1, sep='\t')

/tmp/ipykernel_153270/1102755822.py:2: DtypeWarning: Columns (3,5,6,7,8,9,10,11,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174) have mixed types. Specify dtype option on import or set low_memory=False.
  data_parent_cm_interview1 = pd.read_csv(raw_data_path_parent_cm_interview1, sep='\t')

### parent_interview

### proxy_parent_interview